<div class="title-scores-container clearfix">
  <div class="score column medium-6" id="ratee">
    <h2 class="rating <%= @conversation.sender.score_color %>"><span class="<%= @conversation.sender.score_color %>"><%= @conversation.sender.average_score %></span><%= link_to "#{@conversation.sender.username}", user_path(@conversation.sender)%></h2>
      <li>Talking Points: <%= @conversation.sender.total%></li>
  </div>

  <div class="score column medium-6" id="rater">
    <h2 class="rating"><%= link_to "#{@conversation.recipient.username}", user_path(@conversation.recipient)%><span class="<%= @conversation.recipient.score_color %>"><%= @conversation.recipient.average_score %></span></h2>
    <li>Talking Points: <%= @conversation.recipient.total%></li>
  </div>

  <h2 class="chat-title">
    Talk between <%= link_to "#{@conversation.sender.username}", user_path(@conversation.sender)%>
    & <%= link_to "#{@conversation.recipient.username}", user_path(@conversation.recipient)%></h2>
  </div>
</div>


<div class="chatboxcontent">
  <%= render @messages %>
</div>

<% if user_signed_in? && current_user == @conversation.sender || current_user == @conversation.recipient %>
  <div class="message-form-container clearfix">
    <%= render 'messages/form' %>
  </div>
  <div class="rating-form">
    <%= render 'ratings/form' %>
  </div>
<% end %>

<%= subscribe_to conversation_path(@conversation) %>
