<div class="title-scores-container clearfix">
  <div class="score column small-4" id="ratee">
    <h2 class="rating">Rating</h2>
  </div>
  <h2 class="chat-title column small-4">Chatroom with <%= @conversation.sender.username%> & <%= @conversation.recipient.username%></h2>


  <div class="score column small-4" id="rater">
    <h2 class="user-rating">Rating</h2>
  </div>
</div>

<div class="fixed-height-container">
  <div class="chatboxcontent">
    <%= render @messages %>
  </div>
</div>

<div class="message-form-container clearfix">
  <%= render 'messages/form' %>
</div>
<div class="rating-form">
  <%= render 'ratings/form' %>
</div>

<%= subscribe_to "/messages/new" %>
