
<a href="/users"><h1 class="all-talks">All Users</h1></a>

<p class="memo">
  <%= @memo %>
</p>
<% if !@users.empty? %>
  <% @users.each do |user| %>
    <%= link_to user_path(user) do %>
      <div class="user" id=<%="username#{user.id}"%>>
        <div class="score-username-container-index column small-12">
          <li class="score-index <%= user.score_color %>"><%= user.average_score %></li>
          <li class="username-index"><%= user.username %></li>
        </div>

        <li class="index-stat">Talking Points: <%= user.total %></li>
        <li class="index-stat">Points Given: <%= user.total_rates %></li>
      <%= form_for @conversation do |f| %>
        <%= f.hidden_field :recipient_id, value: user.id %>
        <%= f.button "Talk", id: user.id %>
      <% end %>
      <div class="date-user-index">
         <%= user.created_at.strftime("member since %b %d  %Y ") %>
      </div>
    <% end %>
  </div>
  <% end %>
<% else %>
  <h2>It seems like there are no other users :(</h2>
<% end %>
