<% if !@users.empty? %>
  <% @users.each do |user| %>
    <%= link_to user_path(user) do %>
      <div class="user" id=<%="username#{user.id}"%>>
        <div class="score-username-container-show column small-12">
          <li class="score-show <%= user.score_color %>"><%= user.average_score %></li>
          <li class="username-show"><%= user.username %></li>
        </div>

        <li>total: <%= user.total %></li>
      <%= form_for @conversation do |f| %>
        <%= f.hidden_field :recipient_id, value: user.id %>
        <%= f.button "Chat", id: user.id %>
      <% end %>
    <% end %>
  </div>
    <hr/>
  <% end %>
<% else %>
  <h2>It seems like there are no other users :(</h2>
<% end %>
