<% if !@users.empty? %>
  <% @users.each do |user| %>
    <%= link_to user_path(user) do %>
      <div class="user" id=<%="username#{user.id}"%>>
        <li>
          <%= user.username %>
        </li>
        <div class="user-email" id=<%="email#{user.id}"%>>
          <li>  </li>
        </div>
      </div>
    <% end %>
    <%= form_for @conversation do |f| %>
      <%= f.hidden_field :recipient_id, value: user.id %>
      <%= f.button "Chat", id: user.id %>
    <% end %>
    <hr/>
  <% end %>
<% else %>
  <h2>It seems like there are no other users :(</h2>
<% end %>
