<div class="score-messages-container column small-12">
  <div class="score-username-container">
    <h1 class=""><%= @user.average_score %>
    </h1>
    <h3 class="username"><%= @user.username %></h3>
  </div>

  <div class="new-messages-container topcorner column small-5">
    <% if user_signed_in? && current_user == @user%>
      <h4><%= @new_messages.count %> new message(s)</h4>
      <% @new_messages.each do |c| %>
        <div class="new-message-container column small-12">
          <li class="new-message-username"><%= link_to "#{c.messages.last.user.username}:", user_path(c.messages.last.user) %></li>
          <li class="new-message-body"><%= link_to "#{c.messages.last.body[0..50]} ...", conversation_path(c) %></li>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div class="stats-container">
  <div class="stat-name">Talking Points:</div><div class="stat"><%= @user.total %></div>
  <div class="stat-name">perfect scores:</div><div class="stat"><%= @user.tens %></div>
  <div class="stat-name">Avg Points Given:</div><div class="stat"><%= @user.average_rate %></div>
  <div class="stat-name">Points Given:</div><div class="stat"><%= @user.total_rates %></div>
</div>

<div class="rated-convos-container">
  <h3>Pointed Talks</h3>
    <% @rated_convos.each do |c| %>
      <%= link_to conversation_path(c) do %>
        <div class="rated-convo-container">
          <li class="rated-convo-title"><%= "#{c.sender.username} & #{c.recipient.username}"%></li>

          <li class="rated-convo-info"><%= c.messages.count%> message(s)
            <time datetime="<%= c.created_at %>" title="<%= c.created_at.strftime("%d %b  %Y at %I:%M%p") %>">
               at <%= c.created_at.strftime("%H:%M %p") %>
             </time>
             <% if !c.messages.empty? %>
             (<%= distance_of_time_in_words c.messages.first.created_at, c.messages.last.created_at %>)
             <% end %>
          </li>
        </div>
      <% end %>
    <% end %>
</div>
