
<h1><%= @user.username %>: <%= @user.average_score %></h1>
<h5>average rating given: <%= @user.average_rate %> </h5>
<h5>Talking Points: <%= @user.total %> </h5>
<h5>total given: <%= @user.total_rates %> </h5>
<h5>perfect scores: <%= @user.tens %> </h5>


<h5><%= @user.email %></h5>

<% if user_signed_in? && current_user == @user %>
  <h3><%= @new_messages.count %> new message(s)</h3>
  <% @new_messages.each do |conversation| %>
    <li><%= link_to "#{conversation.messages.last.user.username} wants to talk!", conversation_path(conversation) %></li>
  <% end %>
<% end %>



<% if !@ratings.empty?  %>
<h3>Pointed Talks</h3>
  <% @ratings.each do |rating| %>
    <li>
      <%= link_to "#{rating.score}: #{rating.rater.username} ", conversation_path(rating.conversation) %>
      <%= "#{rating.conversation.messages.count} messages" %>
      <time datetime="<%= rating.conversation.created_at %>" title="<%= rating.conversation.created_at.strftime("%d %b  %Y at %I:%M%p") %>">
        • at <%= rating.conversation.created_at.strftime("%H:%M %p") %>
       </time>
       <% if !rating.conversation.messages.empty? %>
       (<%= distance_of_time_in_words rating.messages.first.created_at, rating.messages.last.created_at %>)
       <% end %>
    </li>
  <% end %>
<% end %>
